.App {
  font-family: sans-serif;
  text-align: center;
}
h1, p {
  font-family: Lato;
}
.editer-box{ 
  border: 1px solid #ccc; 
  min-height: 400px;   
  margin-top:10px;
}

.popup{
  width:400px; 
  height:400px;
  overflow: hidden;
  position: absolute;
  left:25%;
  top:50px;
}